* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
}

main {
    background-color: #FFF;
    padding: 25px;
    border-radius: 10px;
}

h1 {
    text-align: center;
    font-size: 40px;
}

.button-box {
    margin: 30px 0;
    display: flex;
    justify-content: center;
    gap: 15px;
}

button {
    font-size: 40px;
    cursor: pointer;
    width: 70px;
    border: none;
    border-radius: 10px;
    padding: 5px;
    transition: opacity 0.5s ease-in-out;
}

button:hover {
    opacity: 0.8;
}

button:active {
    opacity: 0.6;
}

#rock {
    background-color: #2576A2;
}

#paper {
    background-color: #DE1520;
}

#scissors {
    background-color: #a3F521;
}

.score-box {
    display: flex;
    justify-content: space-between;
}

.round-score {
    max-width: 200px;
}

#player-score, #player-rounds {
    margin-bottom: 20px;
}

p {
    font-size: 20px;
    font-weight: 700;
}

.result {
    margin-bottom: 15px;
    text-align: center;
}

#player-score span {
    color: #1515FF;
}

#computer-score span {
    color: #FF1515;
}

#player-rounds span {
    color: #1515FF;
}

#computer-rounds span {
    color: #FF1515;
}